<%- include('partials/header') %>

<form action="/faculty" method="POST">
    <div class="form-group">
        <select name="faculty" id="faculty">
          <option value="engineering"><a href="localhost:3000/engineering"></a>Engineerng</option>
          <option value="medicine"><a href="localhost:3000/medicine"></a>Medicine</option>
          <option value="science"><a href="localhost:3000/science"></a>Science</option>
          <option value="law"><a href="localhost:3000/law">Law</a></option>
        </select>
    </div>
</form>




<%- include('partials/header') %>