<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Law Time-Table</h1>
      
      <hr>
      
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <table style="width:80%">
    <tr>
      <th></th>
      <th>9:00-10:00</th>
      <th>10:00-11:00</th>
      <th>11:00-12:00</th>
      <th>12:00-1:00</th>
      <th>1:00-2:00</th>
      <th>2:00-3:00</th>
      <th>3:00-4:00</th>
      <th>4:00-5:00</th>
    </tr>
    <tr>
      <th>Monday</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>        
        <th>Tuesday</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Wednesday</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Thursday</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Friday</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>






<%- include('partials/footer') %>
